#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: grey;
}

.list li {
  color: yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: decimal;
}